
body {
    font-family: Arial,
        sans-serif;
    background-image: url("public/assets/images/Slide1.png")
}

.overlay-gradient {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: radial-gradient(
    rgba(199, 215, 165, 0.296),
    rgba(255, 255, 255, 0)
  );
  z-index: -1;
}